html, body, h1 {
    margin: 0px;
    padding: 0px;
    color: chartreuse;
    background-color: #3c3c3c;
}

input {
    background-color: #5c5c5c;
    border: 1px solid chartreuse;
}

.row {
    margin-top: 20px;
}

.skills label {
    width: 150px;
    text-align: left;
}

.box {
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #5c5c5c;
    border: 1px solid #333333;
}

#header {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: #666666;
    border-width: 0px 0px 1px 0px;
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
}

#header h1 {
    margin: 20px 10px 15px 20px;
}

#game-info {
    width: 300px;
    float: right;
    padding: 20px;
}
#game-info table {
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
}

#game-info td.name {
    width: 200px;
    align: left;
}

#game-info td.result {
    align: right;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}